<div class="table-responsive table-inventory">
  <table class="table table-bordered table-striped table-dark dt-responsive nowrap" id="{{include.id}}"
    style="width:100%">
    <thead>
      <tr>
        <th scope="col" class="w-item-icon" data-priority="0">Add to Fer.</th>
        <th scope="col" data-priority="1">Name</th>

        <th scope="col" data-priority="4">Imm.</th>
        <th scope="col" data-priority="5">Pes.</th>
        <th scope="col" data-priority="6">Her.</th>

        <th scope="col" data-priority="3">Tox.</th>

        <th scope="col" data-priority="2">Ex.</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>