<div class="row mt-2">
    <div class="col-lg-6 pr-lg-2">
        <div class="card card-fertilizer">
            <div class="card-header card-header-fertilizer text-center">
                {{ site.data.strings.fertilizer_helper.fertilizer.title }}
            </div>
            <div class="card-body card-body-fertilizer p-0 p-lg-3 my-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="chbSettingsNoInventoryRestriction">
                            <label class="form-check-label" for="chbSettingsNoInventoryRestriction">{{ site.data.strings.fertilizer_helper.fertilizer.settings_no_inventory_restriction_label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 pr-lg-2">
                        <div class="card card-soil-nutrients">
                            <div class="card-header card-header-soil-nutrients text-center">
                                {{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.title }}
                            </div>
                            <div class="card-body card-body-soil-nutrients">
                                <div class="input-group">
                                    <div class="input-group-prepend d-none d-sm-inline">
                                        <span class="input-group-text d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.current_fertilizer_short }}</span>
                                        <span class="input-group-text d-none d-sm-flex">{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.current_fertilizer }}</span>
                                    </div>
                                    <input type="number" aria-label="Leaf" placeholder="Leaf" class="form-control"
                                        id="txtCurrentLeafFertilizer" min="0" max="100">
                                    <input type="number" aria-label="Kernel" placeholder="Kernel" class="form-control"
                                        id="txtCurrentKernelFertilizer" min="0" max="100">
                                    <input type="number" aria-label="Root" placeholder="Root" class="form-control"
                                        id="txtCurrentRootFertilizer" min="0" max="100">
                                </div>
                                <div class="d-none d-sm-block soil-nutrients-chart-container">
                                    <canvas class="soil-nutrients-chart" id="soilNutrientsChart"></canvas>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend d-none d-sm-inline">
                                        <span class="input-group-text d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.with_components_short }}</span>
                                        <span class="input-group-text d-none d-sm-flex">{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.with_components }}</span>
                                    </div>
                                    <input type="text" aria-label="Leaf" placeholder="{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.leaf }}" class="form-control"
                                        id="txtLeafFertilizer" readonly>
                                    <input type="text" aria-label="Kernel" placeholder="{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.kernel }}" class="form-control"
                                        id="txtKernelFertilizer" readonly>
                                    <input type="text" aria-label="Root" placeholder="{{ site.data.strings.fertilizer_helper.fertilizer.soil_nutrients.root }}" class="form-control"
                                        id="txtRootFertilizer" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-5 pr-0 yield-hp-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.yield_hp_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.yield_hp }}</span>
                            </div>
                            <div class="col-2 yield-hp text-left pr-0" id="fertilizerYieldHp">0</div>

                            <div class="col-3 pr-0 immunuity-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.immunity_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.immunity }}</span>
                            </div>
                            <div class="col-2 immunuity text-left pr-0" id="fertilizerImmunity">0</div>
                        </div>
                        <div class="row">
                            <div class="col-5 pr-0 taste-strength-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.taste_strength_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.taste_strength }}</span>
                            </div>
                            <div class="col-2 taste-strength text-left pr-0" id="fertilizerTasteStrength">0</div>

                            <div class="col-3 pr-0 pesticide-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.pesticide_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.pesticide }}</span>
                            </div>
                            <div class="col-2 pesticide text-left pr-0" id="fertilizerPesticide">0</div>
                        </div>
                        <div class="row">
                            <div class="col-5 pr-0 hardness-vitality-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.hardness_vitality_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.hardness_vitality }}</span>
                            </div>
                            <div class="col-2 hardness-vitality text-left pr-0" id="fertilizerHardnessVitality">0</div>

                            <div class="col-3 pr-0 herbicide-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.herbicide_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.herbicide }}</span>
                            </div>
                            <div class="col-2 herbicide text-left pr-0" id="fertilizerHerbicide">0</div>
                        </div>
                        <div class="row">
                            <div class="col-5 pr-0 stickiness-gusto-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.stickiness_gusto_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.stickiness_gusto }}</span>
                            </div>
                            <div class="col-2 stickiness-gusto text-left pr-0" id="fertilizerStickinessGusto">0</div>

                        </div>
                        <div class="row">
                            <div class="col-5 pr-0 aesthetic-luck-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.aesthetic_luck_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.aesthetic_luck }}</span>
                            </div>
                            <div class="col-2 aesthetic-luck text-left pr-0" id="fertilizerAestheticLuck">0</div>

                            <div class="col-3 toxicity-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.toxicity_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.toxicity }}</span>
                            </div>
                            <div class="col-2 toxicity text-left pr-0" id="fertilizerToxicity">0</div>
                        </div>
                        <div class="row">
                            <div class="col-5 pr-0 armor-magic-label text-right">
                                <span class="d-sm-none">{{ site.data.strings.fertilizer_helper.fertilizer.stats.armor_magic_short }}</span>
                                <span class="d-none d-sm-inline">{{ site.data.strings.fertilizer_helper.fertilizer.stats.armor_magic }}</span>
                            </div>
                            <div class="col-2 armor-magic text-left pr-0" id="fertilizerArmorMagic">0</div>
                        </div>
                    </div>
                    <div class="col-lg-5 pl-lg-2">
                        <div class="card card-components">
                            <div class="card-header card-header-components text-center">
                                {{ site.data.strings.fertilizer_helper.fertilizer.components.title }}
                            </div>
                            <div class="card-body card-body-components p-0">
                                <ul class="list-group list-group-flush" id="lstFertilizeComponents">
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                    <li class="list-group-item">-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <ul class="list-group fertilizer-hints" id='lstFertilizerHints'></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 pl-lg-2">
        <div class="card card-fertilizer-inventory">
            <div class="card-header card-header-fertilizer-inventory card-header-nav-tabs text-center">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-inventory-tab" data-toggle="tab" href="#nav-inventory" role="tab" aria-controls="nav-inventory" aria-selected="true">{{ site.data.strings.fertilizer_helper.inventory.additional_components.title }}</a>
                        <a class="nav-link" id="nav-recommended-components-tab" data-toggle="tab" href="#nav-recommended-components" role="tab" aria-controls="nav-recommended-components" aria-selected="false">{{ site.data.strings.fertilizer_helper.inventory.recommended.title }}</a>
                        <a class="nav-link" id="nav-expiable-components-tab" data-toggle="tab" href="#nav-expiable-components" role="tab" aria-controls="nav-expiable-components" aria-selected="false">{{ site.data.strings.fertilizer_helper.inventory.expiable.title }}</a>
                    </div>
                </nav>
            </div>
            <div class="card-body card-body-fertilizer-inventory p-0 my-2">
                <div class="tab-content" id="nav-inventory-tabContent">
                    <div class="tab-pane fade show active" id="nav-inventory" role="tabpanel" aria-labelledby="nav-inventory-tab">
                        <div class="row no-gutters">
                            {% include inventory-itemlist-table.html id="tblInventory" %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-recommended-components" role="tabpanel" aria-labelledby="nav-recommended-components-tab">
                        <div class="row no-gutters">
                            {% include inventory-itemlist-table.html id="tblInventoryRecommended" %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-expiable-components" role="tabpanel" aria-labelledby="nav-expiable-components-tab">
                        <div class="row no-gutters">
                            {% include inventory-itemlist-table.html id="tblInventoryexpiables" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>