<div class="table-item-list table-responsive">
  <table class="table table-bordered table-striped dt-responsive" id="{{include.id}}">
    {% if include.caption %}
      <caption>{{ include.caption }}</caption>
    {% endif %}
    <thead>
      <tr>
        <th scope="col" data-priority="10" data-class-name="name">{{ site.data.strings.table.foodlist.col_name }}</th>
        <th scope="col" data-priority="9" data-class-name="food-type">{{ site.data.strings.table.foodlist.col_type }}</th>

        <th scope="col" data-priority="8" data-class-name="season_buff">{{ site.data.strings.table.foodlist.col_season_buff }}</th>

        <th scope="col" data-priority="7" data-class-name="enchant">{{ site.data.strings.table.foodlist.col_enchant }}</th>

        <th scope="col" data-priority="6" data-class-name="hp">{{ site.data.strings.table.foodlist.col_hp }}</th>
        <th scope="col" data-priority="5" data-class-name="sp">{{ site.data.strings.table.foodlist.col_sp }}</th>
        <th scope="col" data-priority="4" data-class-name="strength">{{ site.data.strings.table.foodlist.col_strength }}</th>
        <th scope="col" data-priority="3" data-class-name="vitality">{{ site.data.strings.table.foodlist.col_vitality }}</th>
        <th scope="col" data-priority="2" data-class-name="magic">{{ site.data.strings.table.foodlist.col_magic }}</th>
        <th scope="col" data-priority="1" data-class-name="luck">{{ site.data.strings.table.foodlist.col_luck }}</th>
        <th scope="col" data-priority="0" data-class-name="magic">{{ site.data.strings.table.foodlist.col_fullness }}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>