<div class="py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}

            {%- if site.twitter_username -%}
            <span class="mx-2 p-1"><a href="https://twitter.com/{{site.twitter_username | url_encode}}"
                target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a></span>
            {%- endif -%}
            {%- if site.github_username -%}
            <span class="mx-2 p-1"><a href="https://github.com/{{site.github_username | url_encode}}" target="_blank"><i
                  class="fab fa-2x fa-github-square"></i></a></span>
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li>
            <a href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="col-sm text-right">
        <p><a href="{{ site.github_link }}"" target="_blank">{{- site.description | escape -}}</a><span class="ml-2 text-monospace">{{- site.version | escape -}}</span></p>
        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/" target="_blank">Powered by Bootstrap 4 Github Pages</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text center"><p>{{- site.data.strings.footer -}}</p></div>
    </div>
    <div class="row">
      <div class="col-sm">
        - 
        {%- for dep in site.data.dependencies -%}
          {%- if dep.disabled -%}
            {%- continue -%}
          {%- endif -%}
        <span class="mx-2 text-monospace"><a href="{{dep.link}}" target="_blank">{{ dep.name | escape }}</a></span> -
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>