<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-winter">
            <div class="card-header">
                Before Planting/Tilling
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.sort_rice.lightly }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.sort_rice.thoroughly }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.use_root_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.fertilize_before_tilling }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-spring">
            <div class="card-header">
                Planting (Raising Seedlings)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.planting.spacing.little_far_apart }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-spring">
            <div class="card-header">
                After Planting (Seedlings)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                1st/2nd Offshoots
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_1_2.use_kernel_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_1_2.unleash_ducks }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                3nd Offshoots
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.temperature.not_too_high }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_3.lock_ducks }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.dehydrate }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                Sprouting
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.sprouting.use_leaf_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                Harvest (Ripen)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.weather.pray_for_dry }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.drain }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.harvest.early }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                After Harvest (Ripen)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.weather.dry }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.drain }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                Rice in Storehouse (Ripen)
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.thresh.when_cool }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.hulling.brown_rice }}
                </li>
            </ul>
        </div>
    </div>
</div>