<div class="accordion mt-1" id="accordionGuideTips">
    <div class="card">
        <div class="card-header" id="headingGuideTips">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseGuideTips" aria-expanded="true" aria-controls="collapseGuideTips">
                    More Tips
                </button>
            </h2>
        </div>

        <div id="collapseGuideTips" class="collapse" aria-labelledby="headingGuideTips" data-parent="#accordionGuideTips">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fas fa-check"></i>
                    Always check your Rice Status and talk to Tauemon.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Anti-Toxicity (Spring/Renowed Water, Aqueous Droplet)</strong> Fertilizer to counter
                    Salt Damage.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Presicide (Eradicating Remedy, Salt + Water, Fish Mint)</strong> Fertilizer to counter
                    some Disease (Rice blight, Rice stripe virus).
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Immunity (Revitalizing Remedy, Salt + Water, Aqueous Droplet)</strong> Fertilizer to
                    counter some Disease (Rice Ragged Stunt Virus, Pecky Rice Disease).
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Herbicide (Reducing Remedy, Aqueous Droplet, Rice Bran + Fish Mint)</strong> Fertilizer
                    to counter Weeds and Herbs.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-cloud-sun"></i>
                    Weather: <strong>Pray for sunny weather</strong> to counter Spindly.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-cloud-sun"></i>
                    Weather: <strong>Pray for cool weather</strong> to counter Heat damage or open both gates.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Fertilizer</strong> with Rotten Food to boost Stats, Salt (to balanced out Presicide)
                    and Spring/Renowed Water (to balanced out Toxicity) (beware of Salt damage).
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poop"></i>
                    Use <strong>Ingredients</strong> in your Fertilizer that expires and don't give negative effect like
                    <strong>Acorns, Grasshopper or Bee Larva</strong>.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-leaf"></i>
                    Try to use more <strong>Natural Presicides</strong> like <strong>Fish Mint, Aqueous Droplet or
                        Garlic</strong> to avoid Salt damage.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-moon"></i>
                    Use can farm <strong>Moonlit Stone</strong> at night early in the game, dropped by rabbit deamons and
                    <stronge>Aqueous Droplet</stronge> later in the game, dropped by water enemys.
                </li>
            </ul>
        </div>
    </div>
</div>