<div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="farming-guild-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link mt-1 farming-guild-pills-balanced-nav-link active" id="farming-guild-pills-balanced-tab" data-toggle="pill" href="#farming-guild-pills-balanced" role="tab" aria-controls="farming-guild-pills-balanced" aria-selected="true" data-spacing="Little far apart" data-name="balanced">{{ site.data.strings.guide.balanced }}</a>
        <a class="nav-link mt-1 farming-guild-pills-yield-nav-link" id="farming-guild-pills-yield-tab" data-toggle="pill" href="#farming-guild-pills-yield" role="tab" aria-controls="farming-guild-pills-yield" aria-selected="false" data-spacing="Balanced" data-name="yield">{{ site.data.strings.guide.yield }}</a>
        <a class="nav-link mt-1 farming-guild-pills-heartiness-nav-link" id="farming-guild-pills-heartiness-tab" data-toggle="pill" href="#farming-guild-pills-heartiness" role="tab" aria-controls="farming-guild-pills-heartiness" aria-selected="false" data-spacing="Little far apart" data-name="heartiness">{{ site.data.strings.guide.heartiness }}</a>
        <a class="nav-link mt-1 farming-guild-pills-aesthetic-nav-link" id="farming-guild-pills-aesthetic-tab" data-toggle="pill" href="#farming-guild-pills-aesthetic" role="tab" aria-controls="farming-guild-pills-aesthetic" aria-selected="false" data-spacing="Little far apart" data-name="aesthetic">{{ site.data.strings.guide.aesthetic }}</a>
        <a class="nav-link mt-1 farming-guild-pills-aroma-nav-link" id="farming-guild-pills-aroma-tab" data-toggle="pill" href="#farming-guild-pills-aroma" role="tab" aria-controls="farming-guild-pills-aroma" aria-selected="false" data-spacing="Little far apart" data-name="aroma">{{ site.data.strings.guide.aroma }}</a>
      </div>
      {% include guide-space.html %}
    </div>
    <div class="col-md-9">
      <div class="tab-content farming-guild-content" id="farming-guild-pills-tabContent">
        <div class="tab-pane fade show active" id="farming-guild-pills-balanced" role="tabpanel" aria-labelledby="farming-guild-pills-balanced-tab">
            {% include guide-balanced.html %}
        </div>
        <div class="tab-pane fade" id="farming-guild-pills-yield" role="tabpanel" aria-labelledby="farming-guild-pills-yield-tab">
            {% include guide-yield.html %}
        </div>
        <div class="tab-pane fade" id="farming-guild-pills-heartiness" role="tabpanel" aria-labelledby="farming-guild-pills-heartiness-tab">
            {% include guide-heartiness.html %}
        </div>
        <div class="tab-pane fade" id="farming-guild-pills-aesthetic" role="tabpanel" aria-labelledby="farming-guild-pills-aesthetic-tab">
            {% include guide-aesthetic.html %}
        </div>
        <div class="tab-pane fade" id="farming-guild-pills-aroma" role="tabpanel" aria-labelledby="farming-guild-pills-aroma-tab">
            {% include guide-aroma.html %}
        </div>
      </div>
      {% include guide-tips.html %}
    </div>
  </div>