<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-winter">
            <div class="card-header">
                {{ site.data.strings.guide.tilling.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.sort_rice.lightly }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.sow_rice.thickly }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.use_root_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.tilling.fertilize_before_tilling }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-spring">
            <div class="card-header">
                {{ site.data.strings.guide.planting.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.planting.spacing.little_far_apart }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-spring">
            <div class="card-header">
                {{ site.data.strings.guide.after_planting.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.shallow }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                {{ site.data.strings.guide.offshots_1_2.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_1_2.use_kernel_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_1_2.unleash_ducks }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.deep }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                {{ site.data.strings.guide.offshots_3.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.temperature.not_too_high }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_3.lock_ducks }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.offshots_3.dehydrate }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-summer">
            <div class="card-header">
                {{ site.data.strings.guide.sprouting.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.sprouting.use_leaf_fertilizer }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.deep }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                {{ site.data.strings.guide.ripen.harvest.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.weather.pray_for_dry }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.drain_open_gate }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.harvest.average }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                {{ site.data.strings.guide.ripen.after_harvest.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.weather.dry }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.water.drain }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.weather.pray_for_coolness }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 p-1">
        <div class="card farming-guide-autumn">
            <div class="card-header">
                {{ site.data.strings.guide.ripen.rice_in_storehouse.title }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.rice_in_storehouse.thresh.when_cool }}
                </li>
                <li class="list-group-item">
                    {{ site.data.strings.guide.ripen.rice_in_storehouse.hulling.brown_or_white_rice }}
                </li>
            </ul>
        </div>
    </div>
</div>