<div class="row no-gutters mt-3">
    <div class="col-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab-spacing" role="tablist">
                <a class="nav-link px-3 active" id="nav-spacing-a-little-apart-tab" data-toggle="tab"
                    href="#nav-spacing-a-little-apart" role="tab" aria-controls="nav-spacing-a-little-apart"
                    aria-selected="true">{{ site.data.strings.guide.spacing.little_far_apart.tab }}</a>
                <a class="nav-link px-3" id="nav-spacing-balanced-tab" data-toggle="tab" href="#nav-spacing-balanced"
                    role="tab" aria-controls="nav-spacing-balanced" aria-selected="false">{{ site.data.strings.guide.spacing.balanced.tab }}</a>
                <a class="nav-link px-3" id="nav-spacing-circle-balanced-tab" data-toggle="tab"
                    href="#nav-spacing-circle-balanced" role="tab" aria-controls="nav-spacing-circle-balanced"
                    aria-selected="false">{{ site.data.strings.guide.spacing.circle.tab }}</a>
            </div>
        </nav>
    </div>
    <div class="col-12 tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-spacing-a-little-apart" role="tabpanel"
            aria-labelledby="nav-spacing-a-little-apart-tab">
            <div class="card">
                <img class="img-fluid card-img-top"
                    src="{{ '/assets/img/little_far_apart.png' | relative_url }}"
                    alt="space-a-little-far-apart">
                <div class="card-body">
                    <h5 class="card-title">{{ site.data.strings.guide.spacing.little_far_apart.title }}</h5>
                    <p class="card-text">
                        {{ site.data.strings.guide.spacing.little_far_apart.description }}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.1_1_placements }}</li>
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.2_1_placements }}</li>
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.4_4_placements }}</li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-spacing-balanced" role="tabpanel" aria-labelledby="nav-spacing-balanced-tab">
            <div class="card">
                <img class="img-fluid card-img-top" src="{{ '/assets/img/balanced.png' | relative_url }}"
                    alt="space-balanced">
                <div class="card-body">
                    <h5 class="card-title">{{ site.data.strings.guide.spacing.balanced.title }}</h5>
                    <p class="card-text">
                        {{ site.data.strings.guide.spacing.balanced.description }}
                    </p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.1_1_placements }}</li>
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.2_1_placements }}</li>
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.1_3_placements }}</li>
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.2_2_placements }}</li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-spacing-circle-balanced" role="tabpanel"
            aria-labelledby="nav-spacing-circle-balanced-tab">
            <div class="card">
                <img class="img-fluid card-img-top" src="{{ '/assets/img/circle_balanced.png' | relative_url }}"
                    alt="space-circle_balanced">
                <div class="card-body">
                    <h5 class="card-title">{{ site.data.strings.guide.spacing.circle.title }}</h5>
                    <p class="card-text">
                        {{ site.data.strings.guide.spacing.circle.description }}
                    </p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">{{ site.data.strings.guide.spacing.circle_placements }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>