<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/jquery-ui.min.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/font-awesome/all.min.css' | relative_url }}">

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap/bootstrap-toggle.min.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/datatables.net-bs4/dataTables.bootstrap4.min.css' | relative_url }}">

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">

  {%- feed_meta -%}
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
</head>
