<div class="table-responsive table-inventory">
  <table class="table table-bordered table-striped table-dark dt-responsive" id="{{include.id}}">
    <thead>
      <tr>
        <th scope="col" class="w-item-icon" data-priority="0" data-class-name="add-to-fertilizer">{{ site.data.strings.table.inventory.col_add_to_fertilizer }}</th>
        <th scope="col" data-priority="1" data-class-name="name">{{ site.data.strings.table.inventory.col_name }}</th>

        <th scope="col" data-priority="4" data-class-name="immunity">{{ site.data.strings.table.inventory.col_immunity }}</th>
        <th scope="col" data-priority="5" data-class-name="pesticide">{{ site.data.strings.table.inventory.col_pesticide }}</th>
        <th scope="col" data-priority="6" data-class-name="herbicide">{{ site.data.strings.table.inventory.col_herbicide }}</th>

        <th scope="col" data-priority="3" data-class-name="toxicity">{{ site.data.strings.table.inventory.col_toxicity }}</th>

        <th scope="col" data-priority="2" data-class-name="expirable">{{ site.data.strings.table.inventory.col_expirable }}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>