<table class="table table-bordered table-striped table-dark" id="{{include.id}}">
    <thead>
      <tr>
        <th scope="col">{{ site.data.strings.table.itemlist.col_add_to_inventory }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_name }}</th>

        <th scope="col">{{ site.data.strings.table.itemlist.col_fertilizer }}</th>

        <th scope="col">{{ site.data.strings.table.itemlist.col_yield_hp }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_taste_strength }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_hardness_vitality }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_stickiness_gusto }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_aesthetic_luck }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_armor_magic }}</th>

        <th scope="col">{{ site.data.strings.table.itemlist.col_immunity }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_pesticide }}</th>
        <th scope="col">{{ site.data.strings.table.itemlist.col_herbicide }}</th>

        <th scope="col">{{ site.data.strings.table.itemlist.col_toxicity }}</th>

        <th scope="col">{{ site.data.strings.table.itemlist.col_expirable }}</th>
      </tr>
    </thead>
    <tbody>
      {% include itemlist-table-content.html items=include.items %}
      {% if include.items2 %}
      {% include itemlist-table-content.html items=include.items2 %}
      {% endif %}
      {% if include.items3 %}
      {% include itemlist-table-content.html items=include.items3 %}
      {% endif %}
    </tbody>
  </table>