<script type='text/javascript'>
    {%- if site.options.useCache -%}
    const USE_CACHE = true;
    {%- else -%}
    const USE_CACHE = false;
    {%- endif -%}
</script>


<h1 class="mt-4">{{ site.data.strings.guide.title }}</h1>
<section id="sectionFarmingGuide">
    {% include guide.html %}
</section>


<h1 class="mt-4">{{ site.data.strings.fertilizer_helper.title }}</h1>
<section id="sectionFertilizerHelper">
    {% include fertilizer_helper.html %}
</section>


<h1 class="mt-4">{{ site.data.strings.item_list.title }}</h1>
<section id="sectionItemList">
    <h2>{{ site.data.strings.item_list.materials.title }}</h2>
    <section id="sectionItemListMaterials">
        {% include material-itemlist-table.html id='tblMaterialItemsList' %}
    </section>

    
    <h2>{{ site.data.strings.item_list.ingredients.title }}</h2>
    <section id="sectionItemListIngredients">
        {% assign materials_ingredients_items = site.data.items | where: "category", "Materials/Ingredients" %}
        {% assign ingredients_items = site.data.items | where: "category", "Ingredients" %}
        {% assign food_items = site.data.items | where: "category", "Food" %}

        Coming Soon
    </section>
    

    <h2>{{ site.data.strings.item_list.food.title }}</h2>
    <section id="sectionItemListFood">
        {% assign food_items = site.data.items | where: "category", "Cooking" %}

        Coming Soon
    </section>
</section>

<section id="sectionMisc" class="mt-5 mx-4">
    <div class="row">
        <div class="form-group">
            <button id="btnClearSession" class="btn btn-warning mx-1">{{ site.data.strings.misc.clear_session }}</button>
            <small id="btnClearSessionHelp" class="form-text text-muted">{{ site.data.strings.misc.clear_session_help }}</small>
        </div>
    </div>
</section>