

.list-group-item {
    color: $body-color;
}
.card-header {
    color: $body-color;
}
.card-body {
    color: $body-color;
}

.card-header {
    .btn-link {
        color: $white
    }
}

.table-warning {
    color: $black;
}