
ul.pagination {
    a.page {
        position: relative;
        display: block;
        padding: $pagination-padding-y $pagination-padding-x;
        margin-left: -$pagination-border-width;
        line-height: $pagination-line-height;
        color: $pagination-color;
        text-decoration: if($link-decoration==none, null, none);
        background-color: $pagination-bg;
        border: $pagination-border-width solid $pagination-border-color;

        &:hover {
            z-index: 2;
            color: $pagination-hover-color;
            text-decoration: none;
            background-color: $pagination-hover-bg;
            border-color: $pagination-hover-border-color;
        }

        &:focus {
            z-index: 3;
            outline: $pagination-focus-outline;
            box-shadow: $pagination-focus-box-shadow;
        }
    }

    li {
        &:first-child {
            a.page {
                margin-left: 0;
                @include border-left-radius($border-radius);
            }
        }

        &:last-child {
            a.page {
                @include border-right-radius($border-radius);
            }
        }

        &.active a.page {
            z-index: 3;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border-color;
        }

        &.disabled a.page {
            color: $pagination-disabled-color;
            pointer-events: none;
            // Opinionated: remove the "hand" cursor set previously for .page-link
            cursor: auto;
            background-color: $pagination-disabled-bg;
            border-color: $pagination-disabled-border-color;
        }
    }
}

.nav-tabs {
    background-color: $card-cap-bg;
}

.card-header {
    .nav-tabs {
        background-color: $nav-tabs-bg-color;
        border: $border-width solid $white;
        border-radius: $border-radius;

        .nav-link,
        .nav-link.active {
            color: $body-color;
            //text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
        }

        .nav-link,
        .nav-link.active,
        .nav-link.active:focus,
        .nav-link.active:hover,
        .nav-item.open .nav-link,
        .nav-item.open .nav-link:focus,
        .nav-item.open .nav-link:hover,
        .nav-pills .nav-link,
        .nav-pills .nav-link.active,
        .nav-pills .nav-link.active:focus,
        .nav-pills .nav-link.active:hover,
        .nav-pills .nav-item.open .nav-link,
        .nav-pills .nav-item.open .nav-link:focus,
        .nav-pills .nav-item.open .nav-link:hover {
            color: $body-color !important;
            //text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
        }
    }
}

.card {
    .card-header-nav-tabs {
        padding: 7px 0 0 0;

        .nav-tabs {
            background-color: $card-cap-bg;
            border: 0;
        }
    }
}

.rounded-circle {
    border-radius: 50%;
}

.w-item-icon {
    width: 32px;
}
.item-icon {
    width: 32px;
    height: 32px;
}
.w-expiry {
    width: 64px;
}
.soil-nutrients-chart {
    height: 210px;
}

.farming-guide-winter { 
    background-color: $winter-color;
    .card-header {
        color: $black;
        background-color: $winter-color;
    }
}
.table-winter {
    color: $black;
    background-color: $winter-color;
}
.text-winter {
    color: $winter-color;
}
.farming-guide-spring { 
    background-color: $spring-color;
    .card-header {
        color: $black;
        background-color: $spring-color;
    }
}
.table-spring {
    color: $black;
    background-color: $spring-color;
}
.text-spring {
    color: $spring-color;
}
.farming-guide-summer { 
    background-color: $summer-color;
    .card-header {
        color: $black;
        background-color: $summer-color;
    }
}
.table-summer {
    color: $black;
    background-color: $summer-color;
}
.text-summer {
    color: $summer-color;
}
.farming-guide-autumn { 
    background-color: $autumn-color;
    .card-header {
        color: $black;
        background-color: $autumn-color;
    }
}
.table-autumn {
    color: $black;
    background-color: $autumn-color;
}
.text-autumn {
    color: $autumn-color;
}

.farming-guild-pills-balanced-nav-link {
    border: 1px solid $balanced-color !important;
    &.active {
        color: $black !important;
        background-color: lighten($balanced-color, 10) !important;
    }
}
.text-balanced {
    color: $balanced-color !important;
}

.farming-guild-pills-yield-nav-link {
    border: 1px solid $yield-color !important;
    &.active {
        color: $black !important;
        background-color: lighten($yield-color, 10%) !important;
    }
}
.text-yield {
    color: $yield-color !important;
}
.yield-hp-label {
    color: $yield-color;
}

.farming-guild-pills-heartiness-nav-link {
    border: 1px solid $heartiness-color !important;
    &.active {
        color: $black !important;
        background-color: lighten($heartiness-color, 10%) !important;
    }
}
.text-heartiness {
    color: $heartiness-color !important;
}
.taste-strength-label,
.hardness-vitality-label,
.stickiness-gusto-label {
    color: $heartiness-color;
}

.farming-guild-pills-aesthetic-nav-link {
    border: 1px solid $aesthetic-color !important;
    &.active {
        color: $black !important;
        background-color: lighten($aesthetic-color, 10%) !important;
    }
}
.text-aesthetic {
    color: $aesthetic-color !important;
}
.aesthetic-luck-label {
    color: $aesthetic-color;
}

.farming-guild-pills-aroma-nav-link {
    border: 1px solid $aroma-color !important;
    &.active {
        color: $black !important;
        background-color: lighten($aroma-color, 10%) !important;
    }
}
.text-aroma {
    color: $aroma-color !important;
}
.aroma-magic-label {
    color: $aroma-color;
}

.text-neutral {
    color: $body-color !important;
}

.text-placements-1-1-color {
    color: $placements-1-1-color;
}
.text-placements-2-1-color {
    color: $placements-2-1-color;
}
.text-placements-1-3-color {
    color: $placements-1-3-color;
}
.text-placements-2-2-color {
    color: $placements-2-2-color;
}
.text-placements-circle-color {
    color: $placements-circle-color;
}

.farming-guild-content {
    min-height: 700px;
}

.table-inventory {
    td {
        padding: 0.5rem;
    }
    .table {
        width: 100%;
    }
    .dataTables_filter {
        padding-right: 1rem;
    }
    .dataTables_info {
        padding-left: 1rem;
    }
    .dataTables_paginate {
        padding-right: 1rem;
    }
}

.table-item-list {
    .table {
        width: 100%;
    }
}

.soil-nutrients-chart-container {
    background-color: lighten($card-cap-bg, 10%);
    border: $border-width solid $card-cap-bg;
}

.table-danger { 
    background-color: lighten($danger, 10%);
}

.card-header {
    font-weight: bold;
}

.card-body-fertilizer,
.card-body-fertilizer-inventory {
    min-height: 560px;
}

.card-body-components {
    .list-group-item {
        color: $card-color;
        background-color: $card-bg;
    }
}
.btn-seasonal-buff.active {
    font-weight: bolder;
}
.seasonal-buff-item {
    .seasonal-buff-name,
    .seasonal-buff-state {
        font-weight: bold;
    }
}