$nav-tabs-bg-color: #a3938a !default;

$winter-color: #6571b0 !default;
$spring-color: #72b941 !default;
$summer-color: #d2ae3f !default;
$autumn-color: #bb4c4c !default;

$balanced-color: #543cdb !default;
$yield-color: #21a437 !default;
$heartiness-color: #db963c !default;
$aesthetic-color: #db3c3c !default;
$aroma-color: #9b3cdb !default;

$placements-1-1-color: $spring-color !default;
$placements-2-1-color: $summer-color !default;
$placements-1-3-color: $autumn-color !default;
$placements-2-2-color: $winter-color !default;
$placements-circle-color: $spring-color !default;
