
$white: #F7F5EC;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black: #09080A;
$blue: #375a7f;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: rgb(224, 12, 11);
$orange: #fd7e14;
$yellow: #f39c12;
$green: rgb(23, 182, 46);
$teal: #20c997;
$cyan: #3498db;
$primary: rgb(143, 45, 41);
$secondary: rgb(134, 62, 59);
$success: $green;
$info: rgb(23, 176, 182);
$warning: rgb(204, 212, 28);
$danger: $red;
$light: $gray-500;
$dark: $gray-800;
$yiq-contrasted-threshold: 175;
$body-bg: $gray-900;
$body-color: $white;
$link-color: #ff645f;
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: .9375rem;
$font-size-sm: $font-size-base * .88;
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$text-muted: $gray-500;
$table-accent-bg: $gray-800;
$table-border-color: $gray-700;
$input-border-color: $body-bg;
$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;
$custom-file-color: $gray-500;
$custom-file-border-color: $body-bg;
$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$navbar-padding-y: 1rem;
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($gray-900, .75);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$navbar-light-toggler-border-color: rgba($gray-900, .1);
$pagination-border-width: 0;
$jumbotron-bg: $gray-800;
$card-cap-bg: $gray-800;
$popover-bg: $gray-800;
$popover-header-bg: $gray-700;
$toast-background-color: $gray-700;
$toast-header-background-color: $gray-800;
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;
$progress-bg: $gray-700;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;
$list-group-hover-bg: $gray-700;
$breadcrumb-bg: $gray-800;
$close-color: $white;
$close-text-shadow: none;
$pre-color: inherit;
$card-bg: $gray-900;
$link-hover-color: lighten($link-color, 18%);
$list-group-disabled-color: $gray-700;
$list-group-action-color: $gray-600;
$pagination-color: $white;
$pagination-bg: lighten($primary, 10%);
$pagination-disabled-bg: darken($primary, 10%);
$pagination-active-bg: $primary;
$pagination-active-color: $white;
$list-group-active-color: $white;
$dropdown-link-active-color: $white;
$pagination-hover-color: $black;
$breadcrumb-active-color: $gray-500;