Food.csv
Material.csv
Cooking.csv
Enchant.csv
EnemyDrop.csv
WorldmapCollect.csv
WorldmapLandmark.csv

Enchant.*.csv
Food.*.csv
Material.*.csv
Cooking.*.csv
EnemyDrop.*.csv
WorldmapCollect.*.csv
WorldmapLandmark.*.csv